.custom-navbar{
    background-color: #96fdff;
}

.custom-navbar{
    height: 100px;
}

.custom-navbar-brand {
    font-size: 3rem;
    margin-left: 50px;
    font-weight: bold;
}

@media (max-width: 768px) {
    .custom-navbar-brand {
        font-size: 1.5rem;
        margin-left: 20px;
    }
}